<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <video controls width="640" height="480" src="<%= @video.video %>"></video>
</p>

<p>
  <%= @video.user.email %><br>
  <strong>Description:</strong>
  <%= @video.description %>
</p>
<hr>
<div class="comments">
  <h3>Comments</h3>
  <%= render 'comments/form', comment: @comment %>
</div>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
